@font-face {
    font-family: 'PlayfairDisplay';
    src: local('PlayfairDisplay'), url(./fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'YanoneKaffeesatz';
    src: local('YanoneKaffeesatz'), url(./fonts/YanoneKaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf) format('truetype');
}